.navbar {
    background-color: $brightBlue;
    height: 70px;
}

.logo {
    color: $white;
}

.title-txt {
    position: absolute;
    margin-left: 35px;
    color: $white;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: $white;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}
