.stats {
    padding-top: 70px;
    color: $darkBlue;
}

.social-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    background: $darkBlue;
    color: $white;
    border: none;
    border-radius: 5px;
}